.section{
    margin: 4rem 6rem;    
}
.section h1{
    font-size: 3rem;
}
.first-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.sec-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;

}

.sec-text h2{
    padding-bottom: 2rem;
}
.cards{
    /* position: relative;
    width: 60%;
    align-items: end;
    justify-content: center;
    z-index: -99; */
    margin-top: 1rem;
    display: flex;
    
}
@media screen and (max-width: 850px){
    .section{
      margin:4rem 2rem;
    }
    .first-sec{
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
    }
    .sec-text{
        width: 100%;
    }
    .cards{
        flex-direction: column;
    }

  
  }